<main ng-init="init()" class="dash-casting-search">

  <div class="row">
    <div class="col s12">
      <h4>Casting</h4>
      <blockquote>
        Área para cadastro e pesquisa de membros do casting Galharufa.
      </blockquote>
    </div>
  </div>

  <form ng-submit="buscar()">
    <div class="row">
      
      <div class="col s12 m3 l3 xl3">
        <div class="input-field">
          <select ng-model="vm.tipo">
            <option value="" disabled selected>Escolha sua opção</option>
            <option value="nomeart">Nome</option>
            <option value="nacionalidade">Nacionalidade</option>
            <option value="ano">Ano</option>
            <option value="altura">Altura</option>
            <option value="manequim">Manequim</option>
            <option value="etnia">Etnia</option>
          </select>
          <label>Filtro</label>
        </div>
      </div>
      <div class="col s12 m3 l3 xl3">
        <div class="input-field">
          <input ng-model="vm.busca" type="text" class="validate">
        </div>
      </div>

      <div class="col s12 m3 l3 xl3">
        <div class="input-field">
          <button type="submit" value="Buscar" class="btn btn-submit">Buscar <i class="material-icons right">search</i></button>
        </div>
      </div>      

    </div>
    
  </form>

  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <a class="btn right black-text bg-yellow-main" data-cpf="a" ng-click="path('/adm-casting-register')">Adicionar casting <i class="material-icons right">person_add</i></a>
    </div>
  </div>


  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ano</th>
        <th>Altura</th>
        <th>Manequim</th>
        <th>Etnia</th>
        <th class="center">Visualizar</th>
        <th class="center">Editar</th>
        <th class="center">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in vm.casting">
        <td >{{c.cas_nome}}</td>
        <td >{{c.cas_ano}}</td>
        <td >{{c.cas_altura}}</td>
        <td >{{c.cas_manequim}}</td>
        <td >{{c.cas_etnia}}</td>
        <td class="center"><a href="" ng-click="visualizar(c.cas_id)"><i class="material-icons">assignment</i></a></td>
        <td class="center"><a href="" ng-click="alterar(c)"><i class="material-icons">edit</i></a></td>
        <td class="center"><a href="" ng-click="excluir(c.cas_id)"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>


</main>

<script>
  $('select').material_select();
  Materialize.updateTextFields();
</script>
