<main ng-init="init()" class="dash-quemsomos">
  <div class="row">
    <div class="col s12 m6 l6 xl6">
      <blockquote>
        Conteúdo da área externa "Quem Somos"
      </blockquote>
      <div class="spacing"></div>
      <div class="spacing"></div>

      <form action="#">
        <div class="file-field input-field">
          <div class="btn black-text bg-yellow-main">
            <span>Foto da equipe</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
      <div class="spacing"></div>
      <div class="input-field">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Texto "Quem Somos"</label>
      </div>
    </div>
    <div class="col s12 m6 l6 xl6">
      <h5>Preview</h5>
    </div>
  </div>
</main>