<main ng-init="init()" class="dash-casting-search">

  <nav class="black lighten-1 white-text">
    <div class="container">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#" class="breadcrumb">Casting</a>
          <a href="#" class="breadcrumb">Visualizar</a>
        </div>
      </div>
    </div>
  </nav>

    <ul class="tabs">
  <div class="container">

      <li class="tab col s3"><a class="active " href="#general-data">Dados Gerais</a></li>
      <li class="tab col s3"><a class="" href="#documents">Documentação</a></li>
      <li class="tab col s3"><a class="" href="#contact">Contato</a></li>
      <li class="tab col s3"><a class="" href="#documentsImages">Anexos</a></li>
      <li class="tab col s3"><a class="" href="#resAddress">Endereços</a></li>
      <li class="tab col s3"><a class="" href="#boletagemHistory">Histórico Boletagem</a></li>
  </div>

    </ul>

    <div class="spacing"></div>
</main>

<script>
</script>
