<main ng-init="init()" class="dash-casting-search">
  
  <div class="row">
    <div class="col s12">
      <h5 class="session-name">Casting <i class="material-icons">keyboard_arrow_right</i> Pesquisar</h5>
      <blockquote>
        Pesquisar membros do Casting <span class="font-semibold">Galharufa</span>
      </blockquote>
    </div>
  </div>
  
  <form ng-submit="buscar()">
    <div class="row">
      
      <div class="col s12 m3 l3 xl3">
        <div class="input-field">
          <select ng-model="vm.tipo">
            <option value="" disabled selected>Escolha sua opção</option>
            <option value="nomeart">Nome</option>
            <option value="nacionalidade">Nacionalidade</option>
            <option value="ano">Ano</option>
            <option value="altura">Altura</option>
            <option value="manequim">Manequim</option>
            <option value="etnia">Etnia</option>
          </select>
          <label>Filtro</label>
        </div>
      </div>
      <div class="col s12 m3 l3 xl3">
        <div class="input-field">
          <input ng-model="vm.busca" type="text" class="validate">
        </div>
      </div>
      
      <div class="col s12 m3 l3 xl3">
          <p class="gender-filter">
            <input name="gender" type="radio" id="masculino" />
            <label for="masculino">Masculino</label>
            <input name="gender" type="radio" id="feminino" />
            <label for="feminino">Feminino</label>
          </p>
      </div>

      <div class="col s12 m3 l3 xl3">
        <div class="input-field">
          <button type="submit" value="Buscar" class="btn black-text bg-yellow-main btn-submit">Buscar <i class="material-icons right">search</i></button>
        </div>
      </div>
    </div>
  </form>
  
  <!-- <pre>{{ vm.casting | json  }}  </pre> -->
  
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <table class="striped responsive-table">
        <thead>
          <tr>
            <th>Nome Artistico</th>
            <th>Ano</th>
            <th>Altura</th>
            <th>Tipo Casting</th>
            <th>Manequim</th>
            <th>Etnia</th>
            <th class="center">Visualizar</th>
            <th class="center">Editar</th>
            <th class="center">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in vm.casting | orderBy:'cas_nomeart'"> <!-- limitTo:15 -->  
            <td >{{c.cas_nomeart}}</td>
            <td >{{c.cas_ano}}</td>
            <td >{{c.cas_altura | number: 2 }}</td>
            <td >{{c.cas_tipo}}</td>
            <td >{{c.cas_manequim | number: 2 }}</td>
            <td >{{c.cas_etnia}}</td>
            <td class="center btn-table"><a href="" ng-click="visualizar(c.cas_id)"><i class="material-icons">assignment</i></a></td>
            <td class="center btn-table"><a href="" ng-click="alterar(c)"><i class="material-icons">edit</i></a></td>
            <td class="center btn-table"><a href="" ng-click="excluir(c.cas_id)"><i class="material-icons">delete</i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

<script>
  $('select').material_select();
  Materialize.updateTextFields();
</script>
