<main ng-init="init()" class="blog">

    <section class="section">
        <div class="container">
            <div class="row">
                    <div class="col s12 m12 l12 xl12">

<blockquote class="embedly-card" data-card-controls="0">
    <h4><a href="https://medium.com/@galharufa">Agência Galharufa - Blog</a></h4>
    <p>Visite o link para visualizar nosso blog!</p>
</blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

            </div>
        </div>
    </section>
</main>