<main ng-init="init()" class="casting">
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <h4 class="center-align main-title">Casting</h4>
      </div>
    </div>

    <div class="row">
      <form ng-submit="buscar()">
        <div class="col s12 m4 l4 xl4">
          <label>Filtro</label>
          <select ng-model="vm.tipo" class="browser-default">
            <option value="" disabled selected>Escolha sua opção</option>
            <option value="nomeart">Nome</option>
            <option value="nacionalidade">Nacionalidade</option>
            <option value="ano">Ano</option>
            <option value="altura">Altura</option>
            <option value="manequim">Manequim</option>
            <option value="etnia">Etnia</option>
          </select>
        </div>
        <div class="col s12 m4 l4 xl4">
          <div class="input-field">
            <input ng-model="vm.busca" type="text" class="validate">
          </div>
        </div>

        <div class="col s12 m4 l4 xl4">
          <div class="input-field">
            <button type="submit" value="Buscar" class="btn black-text bg-yellow-main btn-submit">Buscar
              <i class="material-icons right">search</i>
            </button>
          </div>
        </div>
      </form>
    </div>


    <div class="row">
      <div class="col s12 m3 l3 xl3" ng-repeat="model in vm.casting">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-img" src="images/logo.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a class="activator">This is a link</a></p>
          </div>


          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
        <pre>{{model|json}}</pre>
          </div>
        </div>




      </div>
    </div>
  </div>

</div>

</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
</main>

<script>
  $(document).ready(function () {
    Materialize.updateTextFields();
    $('.modal').modal();
  });
</script>