<main ng-init="init()" class="casting">
  <div class="container">

    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <h3 class="title-name center-align">Categoria</h3>
        <div class="spacing"></div>
        <h4 class="actor-name">nome ator</h4>
      </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6 xl6">
          <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item red white-text" href="#one!">
              <h2>Foto 1</h2>
              <p class="white-text">This is your panel</p>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
              <h2>Foto 2</h2>
              <p class="white-text">This is your panel</p>
            </div>
            <div class="carousel-item green white-text" href="#three!">
              <h2>Foto 3</h2>
              <p class="white-text">This is your panel</p>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
              <h2>Video</h2>
              <p class="white-text">This is your panel</p>
            </div>
          </div>

        </div>
        <div class="col s12 m6 l6 xl6">
          <div class="card teal">
            <div class="card-content">
              <ul>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
                <li>lorem ipsum</li>
              </ul>
            </div>

          </div>
        </div>
    </div>


  </div>
</main>

<script>
  $(document).ready(function () {
    Materialize.updateTextFields();

    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      noWrap: true
    });
  });
</script>


<!-- <div ng-repeat="model in vm.casting"></div> -->
