<main ng-init="init()" class="casting-details">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <h4 class="actor-name">
          {{vm.casting.cas_nomeart}} 
        </h4>
      </div>
    </div>
    <!-- <pre>{{vm.casting | json }}</pre>     -->
    <div class="row">
      <div class="col s12 m6 l6 xl6">
        <figure>
          <img class="materialboxed responsive-img" data-caption="foto 01" src="{{vm.casting.cas_foto34 }}">
          <figcaption>
            Foto 01
          </figcaption>
        </figure>
        <figure>
          <img class="materialboxed responsive-img " data-caption="foto 02" ng-src="{{vm.casting.cas_fotobody}}">
          <figcaption>
            Foto 02
          </figcaption>
        </figure>
        <figure>
          <img class="materialboxed responsive-img" data-caption="foto 03" src="{{vm.casting.cas_fotosmile}}">
          <figcaption>
            Foto 03
          </figcaption>
        </figure>
        <div class="video-container">
          <iframe width="100%" height="315" ng-src="{{vm.embbedVideo}}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <div class="col s12 m6 l6 xl6">
    <ul>
      <li>Ano: {{vm.casting.cas_ano}}</li>
      <li ng-show="vm.casting.cas_tipo=='Atores' || vm.casting.cas_tipo=='Infantil' || vm.casting.cas_tipo=='Exclusivos' ">DRT: {{vm.casting.cas_drt}}</li>
      <li>Altura: {{vm.casting.cas_altura | number: 2}}</li>
      <li>Manequim: {{vm.casting.cas_manequim}}</li>
      <li>Sapato: {{vm.casting.cas_sapato}}</li>
      <li ng-show="vm.casting.cas_tipo=='Infantil'">Data Nascimento: {{vm.casting.cas_dtnasc | date : 'dd/M/yyyy' }}</li>
    </ul>
  </div>
</div>

</main>

<script>
  $(document).ready(function () {
    $('.materialboxed').materialbox();
    Materialize.updateTextFields();
  });
</script>
<!-- <div ng-repeat="model in vm.casting"></div> -->