<main ng-init="init()" class="casting">
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <h4 class="center-align main-title">Casting</h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m3 l3 xl3"></div>
      <div class="col s12 m6 l6 xl6">
        <form action="">
          <div class="input-field left-align">
            <input type="search" class="center-align validate" placeholder="Informe aqui seu critério de busca">
          </div>
          <a class="btn-floating waves-effect waves-light right bg-yellow-main black-text"><i class="material-icons">search</i></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3"></div>
</div>

<div class="row">
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3 xl3">
    <div class="card black grow">
      <div class="card-content white-text">
        <span class="card-title center-align">[[NOME-ATOR]]</span>
        <img src="/images/modelo5CAPA.jpg" class="responsive-img activator" alt="">
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">[[NOME-ATOR]]<i class="material-icons right">close</i></span>
        <ul>
          <li>dado 1</li>
          <li>dado 2</li>
          <li>dado 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</main>