<main ng-init="init()" class="contato">
  <div class="container">
    <div class="spacing"></div>
    <div class="spacing"></div>
    <div class="spacing"></div>
    <div class="row">
      <div class="col s12 l5  m5 xl5 ">
        {{vm.success}}
        <form ng-submit="enviar()">
          <div class="input-field">
            <input ng-model="vm.nome" id="name" type="text" class="validate" required>
            <label for="name">Nome*</label>
          </div>

          <div class="input-field">
            <input ng-model="vm.email" id="email" type="email" class="validate" required>
            <label for="email">E-mail*</label>
          </div>

          <div class="input-field">
            <input ng-model="vm.telefone" id="tel" type="tel" class="validate">
            <label for="tel">Telefone</label>
          </div>

          <div class="input-field">
            <textarea ng-model="vm.mensagem" id="message" class="materialize-textarea" required></textarea>
            <label for="message">Mensagem</label>
          </div>

          <button class="btn bg-navy-main waves-light" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="col s12 push-l1 l6 push-m1  m6 push-xl1 xl6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.272655357713!2d-46.65328058502219!3d-23.55864908468417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59b60098ba83%3A0xfd11c277599dcd08!2sR.%20Itapeva%2C%20187%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004849-535%2C%20Brasil!5e0!3m2!1spt-BR!2sau!4v1572436821489!5m2!1spt-BR!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function(){
    Materialize.updateTextFields();
  });
</script>