<main ng-init="init()" class="contato">
  <div class="container">
    <div class="spacing"></div>
    <div class="spacing"></div>
    <div class="row">
      <div class="col s12 l5  m5 xl5 ">
        {{vm.success}}
        <form ng-submit="enviar()">
          <div class="input-field">
            <input ng-model="vm.nome" id="name" type="text" class="validate" required>
            <label for="name">Nome*</label>
          </div>
          
          <div class="input-field">
            <input ng-model="vm.email" id="email" type="email" class="validate" required>
            <label for="email">E-mail*</label>
          </div>
          
          <div class="input-field">
            <input ng-model="vm.telefone" id="tel" type="tel" class="validate">
            <label for="tel">Telefone</label>
          </div>
          
          <div class="input-field">
            <textarea ng-model="vm.mensagem" id="message" class="materialize-textarea" required></textarea>
            <label for="message">Mensagem</label>
          </div>
          
          <button class="btn waves-light pulse" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
      <div class="col s12 push-l1 l6 push-m1  m6 push-xl1 xl6">
          <div class="contact-box center-align">
            <h4>Contato</h4>
            <p>Entre em contato com a Galharufa</p>

            <div class="spacing"></div>
            
            <ul class="list-icons">
              <li><i class="material-icons">location_on</i> São Paulo / SP</li>
              <li><i class="material-icons">local_phone</i> +55 11 9-6618-5562</li>
              <li><i class="material-icons">mail</i> atendimento@agenciagalharufa.com.br</li>
            </ul>

          </div>
          <div class="image-cinema">

          </div>
        
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function(){
    Materialize.updateTextFields();
  });
</script>