<img ng-if="hold" class="responsive-img" src="/images/hold.jpg"/>

<main ng-show="!hold" ng-init="init()" class="home" id="home">

  <section class="main-logo section">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="/images/slider-home-001.png"></a>
      <a class="carousel-item" href="#two!"><img src="/images/slider-home-002.jpg"></a>
    </div>
  </section>

<!--   <section class="bg-salmon-light servicos section">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <h4 class="center">Serviços</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6 xl6">
          <div class="card horizontal">
            <div class="card-image valign-wrapper">
              <img src="/images/serv-interpretacao.png" class="center-align">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h4 class="card-title">Curso de interpretação</h4>
                <p>
                  O curso de interpretação para TV e cinema
                  proporciona aos alunos o domínio das técnicas de atuação para câmera,
                  permitindo que eles desenvolvam suas habilidades cênicas nas linguagens
                  de televisão e cinema.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6 xl6">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <h4 class="card-title">Curso de Circo</h4>
                <p>
                  Entre em contato para conhecer a possibilidade de técnicas do mundo circense, equipamentos e aparelhos diferenciados, buscando encantar e resgatar a criança que existe em cada um de nós.
                </p>
              </div>
            </div>
            <div class="card-image valign-wrapper">
              <img src="/images/serv-circo.png" class="center-align">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6 xl6">
          <div class="card horizontal">
            <div class="card-image valign-wrapper">
              <img src="/images/serv-fotos.png" class="center-align">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h4 class="card-title">Material Fotográfico</h4>
                <p>A importância de uma boa apresentação de material é essencial para aprovação do cliente!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6 xl6">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <h4 class="card-title">Eventos</h4>
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
            <div class="card-image valign-wrapper">
              <img src="/images/serv-eventos.png" class="center-align">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6 xl6">
          <div class="card horizontal">
            <div class="card-image valign-wrapper">
              <img src="/images/serv-audiovisual.png" class="center-align">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h4 class="card-title">Audiovisual</h4>
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6 xl6">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <h4 class="card-title">Moda</h4>
                <p>I am a very simple card. I am good at containing small bits of information.</p>
              </div>
            </div>
            <div class="card-image valign-wrapper valign-wrapper">
              <img src="/images/serv-moda.png" class="center-align">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!--   <section class="bg-yellow-main casting-home section">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <h4 class="center">Casting</h4>
        </div>
      </div>

      <div class="row">

        <div class="col s12 m3 l3 xl3" ng-repeat="model in vm.casting">
          <div class="card black grow">
            <div class="card-content white-text">
              <span class="card-title center-align">{{model.cas_nome}}</span>
              <img ng-src="{{model.cas_foto34}}" class="responsive-img activator" alt="{{model.cas_nome}}">
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{model.cas_nome}}<i class="material-icons right">close</i></span>
              <ul>
                <li>Altura: {{model.cas_altura}}</li>
                <li>Ano: {{model.cas_ano}}</li>
                <li>Cabelo: {{model.cas_cabelo}}</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->

  <section class="section bg-navy-light">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <blockquote class="embedly-card" data-card-controls="0">
            <h4><a href="https://medium.com/@galharufa">Agência Galharufa - Blog</a></h4>
            <p>Visite o link para visualizar nosso blog!</p>
          </blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
      </div>
    </div>
  </section>

</main>

<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();

    $('.carousel.carousel-slider').carousel({
     fullWidth: true,
     padding: 200
   }, setTimeout(autoplay, 4500));

    function autoplay() {
     $('.carousel').carousel('next');
     setTimeout(autoplay, 4500);
   }



 });
</script>
