<!-- <img ng-if="hold" class="responsive-img" src="/images/hold.jpg"/>

<main ng-show="!hold" ng-init="init()" class="home" id="home"> -->
<main ng-init="init()" class="home" > 

<div class="slider">
    <ul class="slides">
      <li>
          <img src="/images/home002.jpg" alt="">
        <div class="caption left-align">
          <h3>Aqui a sua arte ganha vida!</h3>
          <h5 class="light grey-text text-lighten-3">Entre para o cast!</h5>
        </div>
      </li>
      <li>
          <img src="/images/home003.jpg" alt="">
        <div class="caption right-align">
          <h3>Aqui os personagens contam sonhos!</h3>
          <h5 class="light grey-text text-lighten-3">Faça parte do nosso time!</h5>
        </div>
      </li>
      <li>
          <img src="/images/home004.jpg" alt="">
        <div class="caption center-align">
          <h3>Seu roteiro expressado em movimento!</h3>
          <h5 class="light grey-text text-lighten-3">Venha fazer parte do nosso elenco!!</h5>
        </div>
      </li>
    </ul>
  </div>

</main>

<script>
  $(document).ready(function(){
    $('.slider').slider({
      height: 800,
      indicators: false,
      interval: 5000
    });
 });
</script>
