<img ng-if="hold" class="responsive-img" src="/images/hold.jpg"/>

<main ng-show="!hold" ng-init="init()" class="home" id="home">

  <section>
    <div class="carousel carousel-slider">
      <a class="carousel-item"><img src="/images/slider-home-001.png"></a>
      <a class="carousel-item"><img src="/images/slider-home-002.jpg"></a>
    </div>
  </section>

  <section class="section bg-navy-light">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <blockquote class="embedly-card" data-card-controls="0">
            <h4><a href="https://medium.com/@galharufa">Agência Galharufa - Blog</a></h4>
            <p>Visite o link para visualizar nosso blog!</p>
          </blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
      </div>
    </div>
  </section>

</main>

<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();

   //  $('.carousel.carousel-slider').carousel({
   //   fullWidth: true,
   //   padding: 200
   // }, setTimeout(autoplay, 4500));

   //  function autoplay() {
   //   $('.carousel').carousel('next');
   //   setTimeout(autoplay, 4500);
   // }
 });
</script>
