<main ng-init="init()" class="quemsomos">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        Especializada em casting de elenco e figurantes, a Galharufa é uma agencia que surgiu para inovar e desafiar o mercado audio visual.
        Sob o comando da Produtora Juliana Azevedo,a Galharufa surgiu em 2007 e se consolidou no mercado Brasileiro em fornecimento de casting para novelas, Cinema, Series, publicidade, catalogos e eventos.
        Atualmente, a Galharufa,conta com uma equipe altamente qualificada para atender de maneira satisfatoria seus clientes e parceiros;Assim como o time de profissionais que abrilhantam seu casting.
        Especializada em pesquisa de elenco, a Galharufa possui um amplo casting,em todo o territorio nacional, sempre visando a excelencia em seu atendimento a clientes e agenciados.
      </div>
    </div>
  </div>
</main>