<main ng-init="init()" class="quemsomos">
  <div class="container">
    <div class="spacing"></div>
    <div class="spacing"></div>
    <div class="spacing"></div>
    
    <div class="whoweare">
      <div class="row">
        <div class="col s12 m6 l6 xl6">
          <div class="side-text">
            <h4 class="center-align">A AGÊNCIA GALHARUFA</h4>
            <div class="spacing"></div>
            <h6 class="center-align"><em>"O que você idealiza, a Galharufa concretiza".</em></h6>
            <div class="spacing"></div>
            <div class="spacing"></div>
            <ul class="topics">
              <li>14 anos de mercado, com aproximadamente: 
                <ul>
                  <li>Longas</li>
                  <li>Séries</li>
                  <li>Publicidades</li>
                  <li>institucionais</li>
                  <li>Novelas</li>
                  <li>Clipes</li>
                  <li>Curta e Média metragem</li>
                  </ul>
              </li>
              <li>Sede situada em São Paulo - Capital.</li>
              <li>Atendimento para todo Brasil e Exterior</li>
              <li>Pioneira em pesquisa de campo e pesquisa de elenco</li>
              <li>Amplo casting</li>
              <li>Equipe altamente qualificada</li>
              <li>Departamento de casting exclusivo</li>
              <li>Equipe de fiscais de set</li>
            </ul>
          </div>
        </div>
        <div class="col s12 m6 l6 xl6">
          <div class="main-text" ng-bind-html="vm.quemsomos">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<script>
  $(document).ready(function(){
    Materialize.updateTextFields();
  });
</script>