<main ng-init="init()" class="servicos">
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="container">
    <div class="row">
      <div class="col s12 m5 l5 xl5">
<!-- <pre>{{vm.servicos | json }}</pre> -->
        <ul class="collection tabs">
          <li class="collection-item avatar tab" ng-repeat="servico in vm.servicos | orderBy: 'svc_id' track by $index ">
            <img class="bg-icon-servicos circle" ng-src="{{servico.svc_img}}">
            <a href="{{'#curso' + servico.svc_id}}" ng-bind="servico.svc_descricao"></a>
          </li>
        </ul>

      </div>
      <div class="col s12 m7 l7 xl7">
        <div id="{{'curso' + servico.svc_id}}" ng-repeat="servico in vm.servicos track by $index" ng-bind-html="servico.svc_conteudo">
        </div>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</main>
<script>
  $(document).ready(function () {
    Materialize.updateTextFields();
    $('.materialboxed').materialbox();
  });
</script>