.bg-white {
  background-color: #FFF; }

.bg-black {
  background-color: #000; }

.bg-yellow-main {
  background-color: #FFD740; }

.white {
  color: #FFF; }

.black {
  color: #000; }

body {
  margin: 10px;
  display: flex;
  /*sticky footer property*/
  min-height: 100vh;
  /*sticky footer property*/
  flex-direction: column;
  /*sticky footer property*/
  font-size: 14px; }

main {
  flex: 1 0 auto;
  padding-top: 5px;
  /*sticky footer property*/ }

header nav.nav-extended .nav-wrapper {
  background-image: url("/images/header.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px; }

header nav.nav-extended .nav-content {
  background-color: #FFD740;
  padding: 20px 0; }
  header nav.nav-extended .nav-content .tabs .tab a {
    color: #212121;
    text-transform: lowercase; }

footer.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: #0097A7; }

.login .card-panel {
  background-color: #eee;
  color: #212121; }

.login .input-field label {
  color: #000; }

.login .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=text]:focus + label {
    color: #000; }

.login .input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=password]:focus + label {
    color: #000; }

.login .input-field input[type=email]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=email]:focus + label {
    color: #000; }

.login .input-field input[type=tel]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=tel]:focus + label {
    color: #000; }

.login .input-field input[type=number]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=number]:focus + label {
    color: #000; }

.login .input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=password].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=email].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=tel].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=number].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field .prefix.active {
  color: #000; }

.login .btn:hover {
  background-color: #FFAB33; }

.login .btn:focus {
  background-color: #FFAB33; }

.login .btn-large:hover {
  background-color: #FFAB33; }

.login .btn-large:focus {
  background-color: #FFAB33; }

.login .btn-floating:focus {
  background-color: #FFAB33; }

.dash-casting blockquote, .dash-casting-search blockquote, .dash-users blockquote, .dash-quemsomos blockquote {
  border-left: 5px solid #212121; }

.dash-casting .btn:hover, .dash-casting-search .btn:hover, .dash-users .btn:hover, .dash-quemsomos .btn:hover {
  background-color: #FFAB33; }

.dash-casting .btn:focus, .dash-casting-search .btn:focus, .dash-users .btn:focus, .dash-quemsomos .btn:focus {
  background-color: #FFAB33; }

.dash-casting .btn-large:hover, .dash-casting-search .btn-large:hover, .dash-users .btn-large:hover, .dash-quemsomos .btn-large:hover {
  background-color: #FFAB33; }

.dash-casting .btn-large:focus, .dash-casting-search .btn-large:focus, .dash-users .btn-large:focus, .dash-quemsomos .btn-large:focus {
  background-color: #FFAB33; }

.dash-casting .btn-floating:focus, .dash-casting-search .btn-floating:focus, .dash-users .btn-floating:focus, .dash-quemsomos .btn-floating:focus {
  background-color: #FFAB33; }

.dash-casting .input-field label, .dash-casting-search .input-field label, .dash-users .input-field label, .dash-quemsomos .input-field label {
  color: #000; }

.dash-casting .input-field input[type=text]:focus, .dash-casting-search .input-field input[type=text]:focus, .dash-users .input-field input[type=text]:focus, .dash-quemsomos .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=text]:focus + label, .dash-casting-search .input-field input[type=text]:focus + label, .dash-users .input-field input[type=text]:focus + label, .dash-quemsomos .input-field input[type=text]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=password]:focus, .dash-casting-search .input-field input[type=password]:focus, .dash-users .input-field input[type=password]:focus, .dash-quemsomos .input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=password]:focus + label, .dash-casting-search .input-field input[type=password]:focus + label, .dash-users .input-field input[type=password]:focus + label, .dash-quemsomos .input-field input[type=password]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=email]:focus, .dash-casting-search .input-field input[type=email]:focus, .dash-users .input-field input[type=email]:focus, .dash-quemsomos .input-field input[type=email]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=email]:focus + label, .dash-casting-search .input-field input[type=email]:focus + label, .dash-users .input-field input[type=email]:focus + label, .dash-quemsomos .input-field input[type=email]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=tel]:focus, .dash-casting-search .input-field input[type=tel]:focus, .dash-users .input-field input[type=tel]:focus, .dash-quemsomos .input-field input[type=tel]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=tel]:focus + label, .dash-casting-search .input-field input[type=tel]:focus + label, .dash-users .input-field input[type=tel]:focus + label, .dash-quemsomos .input-field input[type=tel]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=number]:focus, .dash-casting-search .input-field input[type=number]:focus, .dash-users .input-field input[type=number]:focus, .dash-quemsomos .input-field input[type=number]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=number]:focus + label, .dash-casting-search .input-field input[type=number]:focus + label, .dash-users .input-field input[type=number]:focus + label, .dash-quemsomos .input-field input[type=number]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=text].valid, .dash-casting-search .input-field input[type=text].valid, .dash-users .input-field input[type=text].valid, .dash-quemsomos .input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=password].valid, .dash-casting-search .input-field input[type=password].valid, .dash-users .input-field input[type=password].valid, .dash-quemsomos .input-field input[type=password].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=email].valid, .dash-casting-search .input-field input[type=email].valid, .dash-users .input-field input[type=email].valid, .dash-quemsomos .input-field input[type=email].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=tel].valid, .dash-casting-search .input-field input[type=tel].valid, .dash-users .input-field input[type=tel].valid, .dash-quemsomos .input-field input[type=tel].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=number].valid, .dash-casting-search .input-field input[type=number].valid, .dash-users .input-field input[type=number].valid, .dash-quemsomos .input-field input[type=number].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=text].invalid, .dash-casting-search .input-field input[type=text].invalid, .dash-users .input-field input[type=text].invalid, .dash-quemsomos .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field .prefix.active, .dash-casting-search .input-field .prefix.active, .dash-users .input-field .prefix.active, .dash-quemsomos .input-field .prefix.active {
  color: #000; }
