.white {
  background-color: #FFF; }

.bg-black {
  background-color: #000; }

.bg-yellow-main {
  background-color: #FFD740; }
  .bg-yellow-main:hover {
    background-color: #FFD740; }

.bg-yellow-dark {
  background-color: #FFAB33; }

.bg-salmon-light {
  background-color: #F69C80; }

.bg-salmon-main {
  background-color: #FF9E80; }

.bg-salmon-dark {
  background-color: #CC7E66; }

.bg-navy-light {
  background-color: #36A9B6; }

.bg-navy-main {
  background-color: #0097A7; }

.bg-navy-dark {
  background-color: #006974; }

.bg-purple-light {
  background-color: #B2AFE9; }

.bg-purple-main {
  background-color: #78769D; }

.bg-purple-dark {
  background-color: #51506A; }

.bg-gray-light {
  background-color: #FAFAFA; }

.white {
  color: #FFF; }

.black {
  color: #000; }

.yellow-main {
  color: #FFD740; }

.yellow-dark {
  color: #FFAB33; }

.salmon-light {
  color: #F69C80; }

.salmon-main {
  color: #FF9E80; }

.salmon-dark {
  color: #CC7E66; }

.navy-light {
  color: #36A9B6; }

.navy-main {
  color: #0097A7; }

.navy-dark {
  color: #006974; }

.purple-light {
  color: #B2AFE9; }

.purple-main {
  color: #78769D; }

.purple-dark {
  color: #51506A; }

.gray-light {
  color: #FAFAFA; }

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif; }

main .btn:hover {
  background-color: #006974; }

main .btn:focus {
  background-color: #006974; }

main .btn-large:hover {
  background-color: #006974; }

main .btn-large:focus {
  background-color: #006974; }

main .btn-floating:focus {
  background-color: #006974; }

main .input-field label {
  color: #000; }

main .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  main .input-field input[type=text]:focus + label {
    color: #000; }

main .input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  main .input-field input[type=password]:focus + label {
    color: #000; }

main .input-field input[type=email]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  main .input-field input[type=email]:focus + label {
    color: #000; }

main .input-field input[type=tel]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  main .input-field input[type=tel]:focus + label {
    color: #000; }

main .input-field input[type=number]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  main .input-field input[type=number]:focus + label {
    color: #000; }

main .input-field textarea:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  main .input-field textarea:focus + label {
    color: #000; }

main .input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

main .input-field input[type=password].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

main .input-field input[type=email].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

main .input-field input[type=tel].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

main .input-field input[type=number].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

main .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

main .input-field .prefix.active {
  color: #000; }

.spacing {
  padding-bottom: 10px; }

header nav.nav-extended .nav-wrapper {
  background-image: url("/images/header.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px; }

header nav.nav-extended .nav-content {
  background-color: #FFD740;
  padding: 20px 0; }
  header nav.nav-extended .nav-content .tabs .tab a {
    color: #212121;
    text-transform: lowercase; }

footer.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: #0097A7; }
  footer.page-footer a {
    color: white; }
    footer.page-footer a:hover, footer.page-footer a:focus {
      color: white;
      text-decoration: underline; }

.login .card-panel {
  background-color: #eee;
  color: #212121; }

.login .input-field label {
  color: #000; }

.login .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=text]:focus + label {
    color: #000; }

.login .input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=password]:focus + label {
    color: #000; }

.login .input-field input[type=email]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=email]:focus + label {
    color: #000; }

.login .input-field input[type=tel]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=tel]:focus + label {
    color: #000; }

.login .input-field input[type=number]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .login .input-field input[type=number]:focus + label {
    color: #000; }

.login .input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=password].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=email].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=tel].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=number].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.login .input-field .prefix.active {
  color: #000; }

.login .btn:hover {
  background-color: #FFAB33; }

.login .btn:focus {
  background-color: #FFAB33; }

.login .btn-large:hover {
  background-color: #FFAB33; }

.login .btn-large:focus {
  background-color: #FFAB33; }

.login .btn-floating:focus {
  background-color: #FFAB33; }

.dash-casting blockquote, .dash-casting-search blockquote, .dash-users blockquote, .dash-quemsomos blockquote {
  border-left: 5px solid #212121; }

.dash-casting .btn:hover, .dash-casting-search .btn:hover, .dash-users .btn:hover, .dash-quemsomos .btn:hover {
  background-color: #FFAB33; }

.dash-casting .btn:focus, .dash-casting-search .btn:focus, .dash-users .btn:focus, .dash-quemsomos .btn:focus {
  background-color: #FFAB33; }

.dash-casting .btn-large:hover, .dash-casting-search .btn-large:hover, .dash-users .btn-large:hover, .dash-quemsomos .btn-large:hover {
  background-color: #FFAB33; }

.dash-casting .btn-large:focus, .dash-casting-search .btn-large:focus, .dash-users .btn-large:focus, .dash-quemsomos .btn-large:focus {
  background-color: #FFAB33; }

.dash-casting .btn-floating:focus, .dash-casting-search .btn-floating:focus, .dash-users .btn-floating:focus, .dash-quemsomos .btn-floating:focus {
  background-color: #FFAB33; }

.dash-casting .input-field label, .dash-casting-search .input-field label, .dash-users .input-field label, .dash-quemsomos .input-field label {
  color: #000; }

.dash-casting .input-field input[type=text]:focus, .dash-casting-search .input-field input[type=text]:focus, .dash-users .input-field input[type=text]:focus, .dash-quemsomos .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=text]:focus + label, .dash-casting-search .input-field input[type=text]:focus + label, .dash-users .input-field input[type=text]:focus + label, .dash-quemsomos .input-field input[type=text]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=password]:focus, .dash-casting-search .input-field input[type=password]:focus, .dash-users .input-field input[type=password]:focus, .dash-quemsomos .input-field input[type=password]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=password]:focus + label, .dash-casting-search .input-field input[type=password]:focus + label, .dash-users .input-field input[type=password]:focus + label, .dash-quemsomos .input-field input[type=password]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=email]:focus, .dash-casting-search .input-field input[type=email]:focus, .dash-users .input-field input[type=email]:focus, .dash-quemsomos .input-field input[type=email]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=email]:focus + label, .dash-casting-search .input-field input[type=email]:focus + label, .dash-users .input-field input[type=email]:focus + label, .dash-quemsomos .input-field input[type=email]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=tel]:focus, .dash-casting-search .input-field input[type=tel]:focus, .dash-users .input-field input[type=tel]:focus, .dash-quemsomos .input-field input[type=tel]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=tel]:focus + label, .dash-casting-search .input-field input[type=tel]:focus + label, .dash-users .input-field input[type=tel]:focus + label, .dash-quemsomos .input-field input[type=tel]:focus + label {
    color: #000; }

.dash-casting .input-field input[type=number]:focus, .dash-casting-search .input-field input[type=number]:focus, .dash-users .input-field input[type=number]:focus, .dash-quemsomos .input-field input[type=number]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field input[type=number]:focus + label, .dash-casting-search .input-field input[type=number]:focus + label, .dash-users .input-field input[type=number]:focus + label, .dash-quemsomos .input-field input[type=number]:focus + label {
    color: #000; }

.dash-casting .input-field textarea:focus, .dash-casting-search .input-field textarea:focus, .dash-users .input-field textarea:focus, .dash-quemsomos .input-field textarea:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }
  .dash-casting .input-field textarea:focus + label, .dash-casting-search .input-field textarea:focus + label, .dash-users .input-field textarea:focus + label, .dash-quemsomos .input-field textarea:focus + label {
    color: #000; }

.dash-casting .input-field input[type=text].valid, .dash-casting-search .input-field input[type=text].valid, .dash-users .input-field input[type=text].valid, .dash-quemsomos .input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=password].valid, .dash-casting-search .input-field input[type=password].valid, .dash-users .input-field input[type=password].valid, .dash-quemsomos .input-field input[type=password].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=email].valid, .dash-casting-search .input-field input[type=email].valid, .dash-users .input-field input[type=email].valid, .dash-quemsomos .input-field input[type=email].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=tel].valid, .dash-casting-search .input-field input[type=tel].valid, .dash-users .input-field input[type=tel].valid, .dash-quemsomos .input-field input[type=tel].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=number].valid, .dash-casting-search .input-field input[type=number].valid, .dash-users .input-field input[type=number].valid, .dash-quemsomos .input-field input[type=number].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field input[type=text].invalid, .dash-casting-search .input-field input[type=text].invalid, .dash-users .input-field input[type=text].invalid, .dash-quemsomos .input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

.dash-casting .input-field .prefix.active, .dash-casting-search .input-field .prefix.active, .dash-users .input-field .prefix.active, .dash-quemsomos .input-field .prefix.active {
  color: #000; }

.home .section {
  padding: 25px 0;
  height: 800px; }
  .home .section.main-logo {
    padding-top: 225px; }
  .home .section.servicos h4 {
    font-weight: 300; }

.quemsomos {
  background-color: #78769D;
  color: #FFD740; }
  .quemsomos .row {
    margin-bottom: 0; }
  .quemsomos .whoweare {
    border-left: 5px solid #0097A7;
    border-right: 5px solid #0097A7;
    padding: 20px 25px; }
  .quemsomos .side-text h4, .quemsomos .side-text h6 {
    font-weight: 300;
    margin: 0; }
  .quemsomos .side-text .topics {
    font-weight: 300;
    color: white;
    font-size: 18px;
    padding-left: 25px; }
    .quemsomos .side-text .topics li {
      list-style-type: circle !important; }
  .quemsomos .main-text {
    font-weight: 300;
    font-size: 16px;
    text-align: justify; }

.servicos .tabs {
  height: auto;
  white-space: normal; }

.servicos .tab {
  display: block;
  width: 100%;
  text-align: left; }
  .servicos .tab a {
    color: #0097A7; }
    .servicos .tab a:hover, .servicos .tab a:focus, .servicos .tab a:active {
      color: #006974;
      text-decoration: underline; }
    .servicos .tab a.active {
      font-weight: 700;
      color: #0097A7; }

.servicos .indicator {
  display: none; }

.servicos .collection .collection-item.avatar {
  min-height: 15px; }

.servicos .collection .collection-item.avatar:not(.circle-clipper) > .circle {
  margin-top: 2px; }

.casting .main-title {
  font-weight: 300;
  font-size: 40px; }

.casting .card .card-content {
  padding: 12px; }

.casting .card .card-title {
  font-size: 20px; }

.casting .card-content img:hover {
  cursor: pointer; }

.casting .grow {
  transition: all .2s ease-in-out; }

.casting .grow:hover {
  transform: scale(1.1); }
