$yellow-dark: #FFAB33;
$yellow-main:  #FFD740;

$black-main: #212121;

$salmon-main: #FF9E80;
$salmon-light: #F69C80;

$navy-main: #0097A7;

$gray-light: #FAFAFA;

$white: #FFF;
$black: #000;

.bg-white {@include bg-color($white);}
.bg-black {@include bg-color($black);}
.bg-yellow-main {@include bg-color($yellow-main);}
.bg-salmon-light {@include bg-color($salmon-light);}
.bg-navy-main {@include bg-color($navy-main);}
.bg-gray-light {@include bg-color($gray-light);}


.white {@include color($white);}
.black {@include color($black);}