@import 'mixins';
@import 'variables';

body {
    margin: 10px;
    display: flex; /*sticky footer property*/
    min-height: 100vh; /*sticky footer property*/
    flex-direction: column; /*sticky footer property*/
    // color: $gray-dark;
    font-size: 14px;
}

main {
    flex: 1 0 auto;
    padding-top: 5px;
    /*sticky footer property*/
}
.col{
	// border:1px solid #f0f;
}



@import 'webapp/header';
@import 'webapp/footer';
@import 'webapp/home';
@import 'webapp/boxes-patterns';
@import 'webapp/login';

