@import url(../node_modules/ng2-slim-loading-bar/style.css);
.white {
  background-color: #FFF; }

.bg-black {
  background-color: #000; }

.bg-yellow-main {
  background-color: #FFD740; }
  .bg-yellow-main:hover {
    background-color: #FFD740; }

.bg-yellow-dark {
  background-color: #FFAB33; }

.bg-salmon-light {
  background-color: #F69C80; }

.bg-salmon-main {
  background-color: #FF9E80; }

.bg-salmon-dark {
  background-color: #CC7E66; }

.bg-navy-light {
  background-color: #36A9B6; }

.bg-navy-main {
  background-color: #0097A7; }

.bg-navy-dark {
  background-color: #006974; }

.bg-purple-light {
  background-color: #B2AFE9; }

.bg-purple-main {
  background-color: #78769D; }

.bg-purple-dark {
  background-color: #51506A; }

.bg-gray-light {
  background-color: #FAFAFA; }

.white {
  color: #FFF; }

.black {
  color: #000; }

.yellow-main {
  color: #FFD740; }

.yellow-dark {
  color: #FFAB33; }

.salmon-light {
  color: #F69C80; }

.salmon-main {
  color: #FF9E80; }

.salmon-dark {
  color: #CC7E66; }

.navy-light {
  color: #36A9B6; }

.navy-main {
  color: #0097A7; }

.navy-dark {
  color: #006974; }

.purple-light {
  color: #B2AFE9; }

.purple-main {
  color: #78769D; }

.purple-dark {
  color: #51506A; }

.gray-light {
  color: #FAFAFA; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-medium {
  font-weight: 500; }

.font-semibold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.font-extrabold {
  font-weight: 800; }

.font-black {
  font-weight: 900; }

.font-italic {
  font-style: italic !important; }

.font-8 {
  font-size: 8px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-26 {
  font-size: 26px; }

.font-30 {
  font-size: 30px; }

.font-36 {
  font-size: 36px; }

.font-40 {
  font-size: 40px; }

.font-46 {
  font-size: 46px; }

.font-50 {
  font-size: 50px; }

html {
  font-family: Lato, Calibri, Trebuchet, sans-serif; }

.testing {
  width: 142.85714%; }

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif; }

main .btn:hover {
  background-color: #006974; }

main .btn:focus {
  background-color: #006974; }

main .btn-large:hover {
  background-color: #006974; }

main .btn-large:focus {
  background-color: #006974; }

main .btn-floating:focus {
  background-color: #006974; }

main .input-field {
  color: #000; }
  main .input-field label {
    color: #888; }
  main .input-field input:focus, main .input-field textarea:focus {
    border-bottom: 1px solid #bbb !important;
    box-shadow: 0 1px 0 0 #BBB !important; }
    main .input-field input:focus + label, main .input-field textarea:focus + label {
      color: #bbb !important; }

.spacing {
  padding-bottom: 10px; }

header nav .nav-wrapper {
  background-image: url("/images/header.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px;
  background-color: black; }

header nav .navbar {
  background-color: #FFD740;
  height: 65px;
  position: relative;
  text-align: center; }
  header nav .navbar i {
    line-height: 65px; }
  header nav .navbar ul li {
    padding: 0 30px;
    line-height: 65px; }
    header nav .navbar ul li img {
      display: inline-block;
      margin-top: 10px; }
  header nav .navbar ul .dropdown-content li {
    padding: 0px;
    background: #FFAB33; }
  header nav .navbar ul a {
    color: #212121; }

footer.page-footer {
  padding-top: 0px;
  color: #fff;
  background-color: #0097A7; }
  footer.page-footer a {
    color: white; }
    footer.page-footer a:hover, footer.page-footer a:focus {
      color: white;
      text-decoration: underline; }

.login .card-panel {
  background-color: #eee;
  color: #212121; }

.login .input-field {
  color: #000; }
  .login .input-field label {
    color: #888; }
  .login .input-field input:focus, .login .input-field textarea:focus {
    border-bottom: 1px solid #bbb !important;
    box-shadow: 0 1px 0 0 #BBB !important; }
    .login .input-field input:focus + label, .login .input-field textarea:focus + label {
      color: #bbb !important; }

.login .btn {
  background-color: #FFD740; }
  .login .btn:hover {
    background-color: #FFAB33; }
  .login .btn:focus {
    background-color: #FFAB33; }

.login .btn-large:hover {
  background-color: #FFAB33; }

.login .btn-large:focus {
  background-color: #FFAB33; }

.login .btn-floating:focus {
  background-color: #FFAB33; }

.dash-home, .dash-casting, .dash-casting-search, .dash-casting-show, .dash-users, .dash-quemsomos, .dash-servicos {
  padding-left: 305px;
  padding-top: 5px; }
  .dash-home blockquote, .dash-casting blockquote, .dash-casting-search blockquote, .dash-casting-show blockquote, .dash-users blockquote, .dash-quemsomos blockquote, .dash-servicos blockquote {
    border-left: 5px solid #212121; }
  .dash-home .session-name .material-icons, .dash-casting .session-name .material-icons, .dash-casting-search .session-name .material-icons, .dash-casting-show .session-name .material-icons, .dash-users .session-name .material-icons, .dash-quemsomos .session-name .material-icons, .dash-servicos .session-name .material-icons {
    position: relative;
    top: 5px;
    margin: 0 5px; }
  .dash-home .btn, .dash-casting .btn, .dash-casting-search .btn, .dash-casting-show .btn, .dash-users .btn, .dash-quemsomos .btn, .dash-servicos .btn {
    background-color: #FFD740;
    color: #000; }
    .dash-home .btn:hover, .dash-casting .btn:hover, .dash-casting-search .btn:hover, .dash-casting-show .btn:hover, .dash-users .btn:hover, .dash-quemsomos .btn:hover, .dash-servicos .btn:hover {
      background-color: #FFAB33; }
    .dash-home .btn:focus, .dash-casting .btn:focus, .dash-casting-search .btn:focus, .dash-casting-show .btn:focus, .dash-users .btn:focus, .dash-quemsomos .btn:focus, .dash-servicos .btn:focus {
      background-color: #FFAB33; }
  .dash-home .btn-large:hover, .dash-casting .btn-large:hover, .dash-casting-search .btn-large:hover, .dash-casting-show .btn-large:hover, .dash-users .btn-large:hover, .dash-quemsomos .btn-large:hover, .dash-servicos .btn-large:hover {
    background-color: #FFAB33; }
  .dash-home .btn-large:focus, .dash-casting .btn-large:focus, .dash-casting-search .btn-large:focus, .dash-casting-show .btn-large:focus, .dash-users .btn-large:focus, .dash-quemsomos .btn-large:focus, .dash-servicos .btn-large:focus {
    background-color: #FFAB33; }
  .dash-home .btn-floating:focus, .dash-casting .btn-floating:focus, .dash-casting-search .btn-floating:focus, .dash-casting-show .btn-floating:focus, .dash-users .btn-floating:focus, .dash-quemsomos .btn-floating:focus, .dash-servicos .btn-floating:focus {
    background-color: #FFAB33; }
  .dash-home .input-field, .dash-casting .input-field, .dash-casting-search .input-field, .dash-casting-show .input-field, .dash-users .input-field, .dash-quemsomos .input-field, .dash-servicos .input-field {
    color: #000; }
    .dash-home .input-field label, .dash-casting .input-field label, .dash-casting-search .input-field label, .dash-casting-show .input-field label, .dash-users .input-field label, .dash-quemsomos .input-field label, .dash-servicos .input-field label {
      color: #888; }
    .dash-home .input-field input:focus, .dash-home .input-field textarea:focus, .dash-casting .input-field input:focus, .dash-casting .input-field textarea:focus, .dash-casting-search .input-field input:focus, .dash-casting-search .input-field textarea:focus, .dash-casting-show .input-field input:focus, .dash-casting-show .input-field textarea:focus, .dash-users .input-field input:focus, .dash-users .input-field textarea:focus, .dash-quemsomos .input-field input:focus, .dash-quemsomos .input-field textarea:focus, .dash-servicos .input-field input:focus, .dash-servicos .input-field textarea:focus {
      border-bottom: 1px solid #bbb !important;
      box-shadow: 0 1px 0 0 #BBB !important; }
      .dash-home .input-field input:focus + label, .dash-home .input-field textarea:focus + label, .dash-casting .input-field input:focus + label, .dash-casting .input-field textarea:focus + label, .dash-casting-search .input-field input:focus + label, .dash-casting-search .input-field textarea:focus + label, .dash-casting-show .input-field input:focus + label, .dash-casting-show .input-field textarea:focus + label, .dash-users .input-field input:focus + label, .dash-users .input-field textarea:focus + label, .dash-quemsomos .input-field input:focus + label, .dash-quemsomos .input-field textarea:focus + label, .dash-servicos .input-field input:focus + label, .dash-servicos .input-field textarea:focus + label {
        color: #bbb !important; }
  .dash-home .tabs .indicator, .dash-casting .tabs .indicator, .dash-casting-search .tabs .indicator, .dash-casting-show .tabs .indicator, .dash-users .tabs .indicator, .dash-quemsomos .tabs .indicator, .dash-servicos .tabs .indicator {
    background-color: #d0d0d0; }
  .dash-home .tabs .tab a, .dash-casting .tabs .tab a, .dash-casting-search .tabs .tab a, .dash-casting-show .tabs .tab a, .dash-users .tabs .tab a, .dash-quemsomos .tabs .tab a, .dash-servicos .tabs .tab a {
    color: black;
    font-weight: 700; }
  .dash-home .profile-img img, .dash-casting .profile-img img, .dash-casting-search .profile-img img, .dash-casting-show .profile-img img, .dash-users .profile-img img, .dash-quemsomos .profile-img img, .dash-servicos .profile-img img {
    text-align: center; }
  .dash-home .dropdown-content li > a, .dash-home .dropdown-content li > span, .dash-casting .dropdown-content li > a, .dash-casting .dropdown-content li > span, .dash-casting-search .dropdown-content li > a, .dash-casting-search .dropdown-content li > span, .dash-casting-show .dropdown-content li > a, .dash-casting-show .dropdown-content li > span, .dash-users .dropdown-content li > a, .dash-users .dropdown-content li > span, .dash-quemsomos .dropdown-content li > a, .dash-quemsomos .dropdown-content li > span, .dash-servicos .dropdown-content li > a, .dash-servicos .dropdown-content li > span {
    color: #455a64; }
  .dash-home .btn-table a, .dash-casting .btn-table a, .dash-casting-search .btn-table a, .dash-casting-show .btn-table a, .dash-users .btn-table a, .dash-quemsomos .btn-table a, .dash-servicos .btn-table a {
    color: #FFAB33; }
    .dash-home .btn-table a:hover, .dash-home .btn-table a:focus, .dash-home .btn-table a:active, .dash-casting .btn-table a:hover, .dash-casting .btn-table a:focus, .dash-casting .btn-table a:active, .dash-casting-search .btn-table a:hover, .dash-casting-search .btn-table a:focus, .dash-casting-search .btn-table a:active, .dash-casting-show .btn-table a:hover, .dash-casting-show .btn-table a:focus, .dash-casting-show .btn-table a:active, .dash-users .btn-table a:hover, .dash-users .btn-table a:focus, .dash-users .btn-table a:active, .dash-quemsomos .btn-table a:hover, .dash-quemsomos .btn-table a:focus, .dash-quemsomos .btn-table a:active, .dash-servicos .btn-table a:hover, .dash-servicos .btn-table a:focus, .dash-servicos .btn-table a:active {
      color: #FFD740; }
  @media only screen and (max-width: 992px) {
    .dash-home, .dash-casting, .dash-casting-search, .dash-casting-show, .dash-users, .dash-quemsomos, .dash-servicos {
      padding-left: 0; } }

.home .section {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0; }

.quemsomos {
  background-color: #78769D;
  color: #FFD740; }
  .quemsomos .row {
    margin-bottom: 0; }
  .quemsomos .whoweare {
    border-left: 5px solid #0097A7;
    border-right: 5px solid #0097A7;
    padding: 20px 25px; }
  .quemsomos .side-text h4, .quemsomos .side-text h6 {
    font-weight: 300;
    margin: 0; }
  .quemsomos .side-text .topics {
    font-weight: 300;
    color: white;
    font-size: 18px;
    padding-left: 25px; }
    .quemsomos .side-text .topics li {
      list-style-type: circle !important; }
  .quemsomos .main-text {
    font-weight: 300;
    font-size: 16px;
    text-align: justify; }

.servicos .collection {
  height: auto;
  white-space: normal; }

.servicos .tab {
  display: block;
  width: 100%;
  height: 62px; }
  .servicos .tab a {
    color: #FF9E80;
    font-weight: 500;
    line-height: 3.5;
    text-transform: uppercase;
    text-align: left !important; }
    .servicos .tab a:hover, .servicos .tab a:focus, .servicos .tab a:active {
      color: #CC7E66;
      text-decoration: underline; }
    .servicos .tab a.active {
      font-weight: 700;
      color: #FF9E80; }

.servicos .indicator {
  display: none; }

.servicos .collection .collection-item {
  border-bottom: transparent; }

.servicos .collection .collection-item.avatar {
  min-height: 15px; }

.servicos .collection .collection-item.avatar:not(.circle-clipper) > .circle {
  margin-top: 2px; }

.casting .title-name {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 300; }

.casting .card {
  margin: 0;
  box-shadow: none; }
  .casting .card:hover {
    cursor: pointer; }
  .casting .card .card-nomeart p {
    color: #212121;
    font-weight: 700; }

.casting-details .title-name {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 400;
  color: #006974; }

.casting-details .actor-name {
  border: 3px solid #FFAB33;
  font-size: 28px;
  font-weight: 400; }

.casting-details .card {
  margin: 0; }

.contato .btn {
  background-color: #FFD740;
  color: #000; }
  .contato .btn:hover {
    background-color: #FFAB33; }
  .contato .btn:focus {
    background-color: #FFAB33; }

.contato .btn-large:hover {
  background-color: #FFAB33; }

.contato .btn-large:focus {
  background-color: #FFAB33; }

.contato .btn-floating:focus {
  background-color: #FFAB33; }
