<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy" content="default-src &apos;unsafe-inline&apos; &apos;unsafe-eval&apos; data: gap: https://ssl.gstatic.com *; style-src &apos;self&apos; &apos;unsafe-inline&apos; *; script-src &apos;unsafe-inline&apos; &apos;unsafe-eval&apos; *">

  <title>Agência Galharufa</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  

  <!-- inject:css -->
  <link rel="stylesheet" href="/app/bower_components/materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" href="/app/styles/css/custom.min.css">
  <!-- endinject -->
  <link rel="icon" href="/favicon.png">

  
  <!-- inject:js -->  
  <script src="/app/bower_components/jquery/dist/jquery.min.js"></script>  
  <script src="/app/bower_components/angular/angular.min.js"></script>  
  <script src="/app/bower_components/angular-route/angular-route.min.js"></script>  
  <script src="/app/bower_components/angular-materialize/src/angular-materialize.js"></script>  
  <script src="/app/bower_components/materialize/dist/js/materialize.min.js"></script>  
  <script src="/app/js/app.js"></script>    
  <script src="/app/js/controllers/login.js"></script>  
  <script src="/app/js/services/UserServices.js"></script>  
  <script src="/app/shared/mainHeader/mainHeaderDirective.js"></script>  
  <script src="/app/shared/mainFooter/mainFooterDirective.js"></script>  
  <!-- endinject -->


</head>

<body ng-app="galharufa">
  <main-header ng-if="header_menu"></main-header>
  <div ng-view>
  </div>
  <main-footer ng-if="header_menu"></main-footer>
</body>

</html>