.contact{
  .main-title{
    font-weight: 700;
    font-size: 20px;
    color: $red-main;
  }
  .sub-title{
    font-size: 14px;
    font-weight: 500;
    color: $gray-dark;
  }

  .section-title{
    .material-icons{
      color: $red-main;
      vertical-align: middle;
    }
    color: $gray-dark;
    font-weight: 600;
  }
  .section-info{
    color: $gray-dark;

    a{
      color: $red-main;

      &:hover, &:focus{
        color: $red-light;
        text-decoration: underline;
      }
    }
  }
}