.input-field {
  label {
    color: $gray-darker;
  }
  input[type=text], input[type=email], input[type=tel], textarea, select {
    &:focus {
      + {
        label {
          color: $gray-main;
        }
      }
      border-bottom: 1px solid $gray-light;
      box-shadow: 0 1px 0 0 $gray-main;
    }
  }
  input[type=text], input[type=email], input[type=tel], textarea, select {
    &.valid {
      border-bottom: 1px solid $gray-light;
      box-shadow: 0 1px 0 0 $gray-main;
    }
  }
  input[type=text], input[type=email], input[type=tel], textarea, select {
    &.invalid {
      border-bottom: 1px solid red;
      box-shadow: 0 1px 0 0 red;
    }
  }
  .prefix.active {
    color: $gray-darker;
  }
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $gray-main;
    box-shadow: 0 1px 0 0 $gray-main;
  &+label{
    color: $gray-main;
  }
}

.dropdown-content li>a, .dropdown-content li>span, .select-wrapper input.select-dropdown{
  color: $gray-main;
}
.select-wrapper span.caret{
  color: $red-dark;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url],
input[type=time], input[type=date], input[type=datetime], input[type=datetime-local],
input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  color: $gray-main;
}
