<header>
    <nav>
        <div class="nav-wrapper"><!-- don't touch, that's the black stripe --></div>
        <div class="navbar">
            <div class="container">
                <ul id="casting" class="dropdown-content">
                    <li><a href="#!">Figuração</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Modelos</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Ator</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Crianças</a></li>
                </ul>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><img src="/images/mini-chair.png" alt=""></li>
                    <li><a href="" ng-click="path('/home');">Home</a></li>
                    <li><a href="" ng-click="path('/quemsomos');">Quem Somos</a></li>
                    <li><a href="" ng-click="path('/blog');">News</a></li>

                    <li><a class="dropdown-button" href="#!" data-activates="casting">Casting<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="" ng-click="path('/servicos');">Serviços</a></li>
                    <li><img src="/images/mini-chair.png" alt=""></li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    $(document).ready(function() {
        $('ul.tabs').tabs();
        $('.dropdown-button').dropdown();
    });
</script>