@import 'mixins';
@import 'variables';

body {
    margin: 10px;
    font-family: 'Lato', sans-serif;
    display: flex; /*sticky footer property*/
    min-height: 100vh; /*sticky footer property*/
    flex-direction: column; /*sticky footer property*/
    color: $gray-dark;
    font-size: 14px;
}

main {
    flex: 1 0 auto;
    /*sticky footer property*/
}

#sidenav-overlay {
    z-index: 5;
}

.side-nav {
    width: 230px;
}

.slider {
    .indicators {
        .indicator-item.active {
            background-color: $red-main;
        }
    }
}

@import 'webapp/forms';
@import 'webapp/buttons';
@import 'webapp/header';
@import 'webapp/footer';
@import 'webapp/home';
@import 'webapp/contact';
@import 'webapp/about';

