.dash-home, .dash-casting, .dash-casting-search, .dash-casting-show, .dash-users, .dash-quemsomos, .dash-servicos{

    padding-left: 305px;
    padding-top: 5px;

    blockquote {
        border-left: 5px solid $black-main;
    }
    .session-name{
        .material-icons{
            position: relative;
            top: 5px;
            margin: 0 5px;
        }
    }
    .btn {
        background-color: $yellow-main;
        color: $black;
        &:hover {
            background-color: $yellow-dark;
        }
        &:focus {
            background-color: $yellow-dark;
        }
    }
    .btn-large {
        &:hover {
            background-color: $yellow-dark;
        }
        &:focus {
            background-color: $yellow-dark;
        }
    }
    .btn-floating {
        &:focus {
            background-color: $yellow-dark;
        }
    }

    .input-field {
        color: #000;
        label {
            color: #888;

        }

        input, textarea {
            &:focus {
                + label {
                    color: #bbb !important;
                }
                border-bottom: 1px solid #bbb !important;
                box-shadow: 0 1px 0 0 #BBB !important;
            }
        }

    }

    .tabs {
        .indicator{
            background-color: #d0d0d0;
        }
        .tab{
            a{
                color: black;
                font-weight: 700;
            }
        }
    }
    .profile-img{
        img{
            text-align: center;
        }
        figure{
        }
        figcaption{
        }
    }
    .dropdown-content li>a, .dropdown-content li>span {
        color: #455a64;
    }
    .btn-table{
        a{
            color: $yellow-dark;
            &:hover, &:focus, &:active{
                color: $yellow-main;
            }
        }
    }

    @media only screen and (max-width:992px) {
    padding-left: 0;
}
}