.btn {
  &:hover {
    background-color: #006974;
  }
  &:focus {
    background-color: #006974;
  }
}
.btn-large {
  &:hover {
    background-color: #006974;
  }
  &:focus {
    background-color: #006974;
  }
}
.btn-floating {
  &:focus {
    background-color: #006974;
  }
}