.casting{
    .title-name{
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 300;
    }
    .card{
        margin: 0;
        box-shadow: none;

        &:hover{
            cursor: pointer;
        }
        .card-nomeart{
            p{
                color: $black-main;
                font-weight: 700;
            }
            
        }
    }
}

.casting-details{
    .title-name{
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 400;
        color: $navy-dark;
    }
    .actor-name{
        border:3px solid $yellow-dark;
        font-size: 28px;
        font-weight: 400;
    }
    .card{
        margin: 0;
    }
}