.contato{
  .contact-box{
    background-image: linear-gradient(-90deg, $yellow-dark, $yellow-main);
    padding: 20px 0;

    .list-icons{
      font-size: 16px;
      .material-icons{
        font-size: 18px;
      }
    }
  }
  .btn {
    background-color: $yellow-main;
    color: $black;
    
    &:hover {
      background-color: $yellow-dark;
    }
    &:focus {
      background-color: $yellow-dark;
    }
  }
  .btn-large {
    &:hover {
      background-color: $yellow-dark;
    }
    &:focus {
      background-color: $yellow-dark;
    }
  }
  .btn-floating {
    &:focus {
      background-color: $yellow-dark;
    }
  }
}