footer{
  &.page-footer{
    padding-top: 0px;
    color: #fff;
    background-color: $navy-main;

    a{
      color: white;

      &:hover, &:focus{
        color: white;
        text-decoration: underline;
      }
    }
  }
}