footer{
    &.page-footer{
        background-color: #231F20;
        background-image: url(../../images/footer.jpg);
        background-position: center top;
        height: 350px;
        margin: 0 auto;
        padding: 100px 0;

        color: white;
        text-transform: uppercase;

        .border-footer{
            padding:10px 0;
            position:relative;
            height: 200px;

            &:before{
                content:'';
                position: absolute;
                top:0;
                width:15%;
                height:100%;
                border-bottom:8px solid white;
                border-top:8px solid white;
            }

            &.mini-squares p{
                border:1px solid white;
                display: inline-block;
                padding: 15px;
                margin-right: 10px;
            }

            h5{
                font-size: 50px;
                font-weight: 700;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 2px;
            }


        }
    }
}