header {
  nav{
    background: white;
    ul{
      li{
        a{
          color: $black-main;
          font-weight: 300;
          &.active, &:active, &:hover{
            color: $black-main;
          }
        }
      }
    }
    .brand-logo{
      margin-top: 5px;
    }
  }
  .dropdown-content li>a, .dropdown-content li>span {
    color: black;
}
}

@media (min-width: 0px) and (max-width: 375px) {
  .brand-logo{
    img{
      width: 220px;
    }
  }
  nav a{
    color: black;
  }
}
@media (min-width: 376px) and (max-width: 992px) {
  .brand-logo{
    img{
      width: 220px;
    }
  }
  nav a{
    color: black;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}