header {
  // margin-bottom: 10px;
  nav{
    background: white;
    ul{
      li{
        a{
          color: $black-main;
          font-weight: 300;
          &.active, &:active, &:hover{
            color: $black-main;
          }
        }
      }
    }
    .brand-logo{
      margin-top: 5px;
    }
  }
}

@media (min-width: 0px) and (max-width: 375px) {}
@media (min-width: 376px) and (max-width: 992px) {}
@media (min-width: 993px) and (max-width: 1024px) {}
@media (min-width: 1025px) {}