.home{
  .beige-main-box{
    padding: 10px 40px;
    background-color: $beige-main;

    h3{
      font-size: 30px;
      font-weight: 300;
      color: $navy-main;
    }
  }
  .row{
    margin-bottom: 0;
  }
  .row .col{
    padding: 0 0;
  }
}