.home{
  .section{
    // padding: 25px 0;
    // height: 800px;
    // border: 1px solid #f0f;

    &.main-logo{
      // padding-top: 225px;
    }

    &.servicos{
      h4{
        font-weight: 300;
      }
      .card-image{
      }
    }
  }


  & .casting-home{
    .card {
      .card-content {
        padding: 10px;
      }
      .card-title{
        font-size: 22px;
      }
    }
    .card-content{
      img{
        width: 250px;
        height: 300px;

        &:hover{
          cursor: pointer !important;
        }
      }
    }
    .grow {
      transition: all .2s ease-in-out;
    }
    .grow:hover {
      transform: scale(1.1);
    }
  }
}

