.login {
  .card-panel{
    background-color: #eee;
    color: $black-main;
  }
  .btn {
    background-color: $yellow-main;
    &:hover {
      background-color: $yellow-dark;
    }
    &:focus {
      background-color: $yellow-dark;
    }
  }
  .btn-large {
    &:hover {
      background-color: $yellow-dark;
    }
    &:focus {
      background-color: $yellow-dark;
    }
  }
  .btn-floating {
    &:focus {
      background-color: $yellow-dark;
    }
  }
}