.quemsomos{
  background-color: white;
  color: black;

  .whoweare{
    border-left: 5px solid $yellow-main;
    border-right: 5px solid $yellow-main;
    padding: 0px 25px;
  }
  .side-text{
    h4, h5, h6{
      font-weight: 300;
      margin: 0;
    }
    .topics{
      font-weight: 300;
      color: black;
      font-size: 18px;
      padding-left: 25px;

      li{
        list-style-type: circle !important;
      }
    }
  }

  .main-text{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
  }
}