.quemsomos{
  background-color: $purple-main;
  color: $yellow-main;

  .row{
    margin-bottom: 0;
  }
  .whoweare{
    border-left: 5px solid $navy-main;
    border-right: 5px solid $navy-main;
    padding: 20px 25px;
  }
  .side-text{
    h4, h6{
      font-weight: 300;
      margin: 0;
    }
    .topics{
      font-weight: 300;
      color: white;
      font-size: 18px;
      padding-left: 25px;

      li{
        list-style-type: circle !important;
      }
    }
  }

  .main-text{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
  }
}