.servicos{
  .collection{
    height: auto;
    white-space: normal;
  }
  .tab{
    display: block;
    width: 100%;
    text-align: left;
    height: 62px;

    a{
      color: $salmon-main;
      font-weight: 500;
      line-height: 3.5;
      text-align: center;
      text-transform: uppercase;

      &:hover, &:focus, &:active{
        color: $salmon-dark;
        text-decoration: underline;
      }
      &.active{
        font-weight: 700;
        color: $salmon-main;
      }
    }
  }
  .indicator{
    display: none;
  }

  .collection{
    .collection-item{
    border-bottom: transparent;

    }
    .collection-item.avatar{
      min-height: 15px;
    }

    .collection-item.avatar:not(.circle-clipper)>.circle{
      margin-top: 2px;
    }

  }
}