.servicos{
  .tabs{
    height: auto;
    white-space: normal;
  }
  .tab{
    display: block;
    width: 100%;
    text-align: left;

    a{
      color: $navy-main;

      &:hover, &:focus, &:active{
        color: $navy-dark;
        text-decoration: underline;
      }
      &.active{
        font-weight: 700;
        color: $navy-main;
      }
    }
  }
  .indicator{
    display: none;
  }

  .collection{
    .collection-item{
    }
    .collection-item.avatar{
      min-height: 15px;
    }

    .collection-item.avatar:not(.circle-clipper)>.circle{
      margin-top: 2px;
    }

  }
}